* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: black; 
}

.form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
<<<<<<< HEAD
}

.input-group {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: fit-content;
}

.input-group input {
  margin-top: 5px;
  margin-bottom: 5px;
  height: 30px;
  padding: 0px 10px;
  font-size: 16px;
  border-radius: 4px;
}

.profile-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: fit-content;
}

.login-btn {
  font-size: 1.25em;
  display: flex;
  flex-grow: 1;
  width: 100%;
  margin-top: 0.25em;
  padding: 0.25em;
  align-items: flex-start;
  justify-content: center;
=======
>>>>>>> main
}