@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Monoton&family=Shrikhand&display=swap");
:root {
  --yellow: #ffefa0;
  --light-orange: #ffd57e;
  --orange: #fca652;
  --red: #ac4b1c;
  --black: #222;
  --white: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Shrikhand", "Arial Narrow", Arial, sans-serif;
  color: black;
}
a {
  text-decoration: none;
}

li {
  list-style: none;
}
#header-nav {
  padding: 20px;
  border: 2px solid #ffd57e;
  background-color: #ffd57e;
}
#header-nav nav ul {
  display: flex;
  justify-content: flex-start;
}
#header nav ul li a {
  font-size: 1.2rem;
}
#header-nav nav ul li {
  margin-right: 10px;
}

.form-container {
  width: 500px;
  height: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #222;
  border-radius: 6px;
  box-shadow: 10px 10px 5px 0px rgba(220, 220, 220, 1);
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container h1 {
  font-family: "Shrikhand", cursive;
  margin-bottom: 10px;
}

.input-group input {
  margin-top: 5px;
  margin-bottom: 5px;
  height: 30px;
  padding: 0px 10px;
  font-size: 16px;
  border-radius: 4px;
}

.login-btn {
  background-color: #fca652;
  border: 2px solid #fca652;
  margin-bottom: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.login-btn:hover {
  background-color: #ffd57e;
  border: 2px solid #ffd57e;
}
.profile {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: fit-content;
}

.login-btn {
  font-size: 1.25em;
  display: flex;
  flex-grow: 1;
  width: 100%;
  margin-top: 0.25em;
  padding: 0.25em;
  align-items: flex-start;
  justify-content: center;
}
.feed-container {
  margin: 20px auto;
  width: 1000px;
  border: 1px solid black;
  padding: 20px;
}
.title-date {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
  /* align-items: flex-start; */
}
.title-date h3 {
  align-self: center;
}

.image-container {
  margin-top: 20px;
}

#create-list-item {
  padding: 20px 20px 20px 0;
}
#create-list-item label {
  margin-right: 10px;
}

#create-list-item input {
  margin-right: 10px;
}

#bucket-list-container {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}

.uncompleted-post-form {
  display: flex;
  flex-direction: column;
  width: 800px;
  margin-bottom: 20px;
}

.completed-list-item,
.uncompleted-list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 800px;
  align-items: center;
}

.uncompleted-post-form button {
  margin-bottom: 20px;
}
